<section class="testimonials" id="testimonials">
  <h2 class="testimonials__title">{{ 'TESTIMONIALS.TITLE' | translate }}</h2>

  <div class="testimonials__body">
    <img
      src="assets/arrow-curved-red-big.svg"
      class="testimonials__arrow"
      alt=""
      aria-hidden="true"
    />

    <div class="testimonials__cards">
      @for (item of testimonials; track item.name) {
        <div class="testimonials__card">
          <h3 class="testimonials__name">{{ item.name }}</h3>
          <p class="testimonials__project">{{ item.projectKey | translate }}</p>
          <p class="testimonials__quote">'' {{ item.quoteKey | translate }} ''</p>
        </div>
      }
    </div>
  </div>
</section>
