@use '../../../styles/variables' as *;

.home {
  display: flex;
  flex-direction: column;
}

.home > * + * {
  margin-top: $spacing-16;
}

@media (max-width: $bp-lg) {
  .home > * + * {
    margin-top: $spacing-12;
  }
}

@media (max-width: $bp-md) {
  .home > * + * {
    margin-top: $spacing-8;
  }
}
