<section class="personal" id="about">
  <div class="personal__image-wrapper">
    <img class="personal__image" src="assets/about-me.jpg" alt="Kevin Schumacher" />
  </div>

  <div class="personal__content">
    <h2 class="personal__title">{{ 'PERSONAL.TITLE' | translate }}</h2>

    <p class="personal__description">{{ 'PERSONAL.DESCRIPTION' | translate }}</p>

    <div class="personal__iam-container">
      <!-- -Div 1: I am + location- -->
      <div class="personal__iam-location">
        <span class="personal__iam-label">{{ 'PERSONAL.I_AM' | translate }}</span>
        <div class="personal__node personal__node--location">
          <div class="personal__node-icon-wrap">
            <img src="assets/location-icon.svg" class="personal__node-icon" alt="" />
            <img
              src="assets/node-hover-shadow.svg"
              class="personal__node-ellipse"
              alt=""
              aria-hidden="true"
            />
          </div>
          <span class="personal__node-text" [innerHTML]="'PERSONAL.LOCATION' | translate"></span>
        </div>
      </div>

      <!-- -Div 2: arrow-01 + relocate- -->
      <div class="personal__relocate-group">
        <img
          src="assets/arrow-curved-red-01.svg"
          class="personal__arrow personal__arrow--1"
          alt=""
          aria-hidden="true"
        />
        <div
          class="personal__node personal__node--relocate"
          (mouseenter)="relocateHover = true"
          (mouseleave)="relocateHover = false"
        >
          <div class="personal__node-icon-wrap">
            <img
              [src]="
                relocateHover
                  ? 'assets/relocate-icon-hover.svg'
                  : 'assets/relocate-icon-default.svg'
              "
              class="personal__node-icon"
              alt="Open to relocate"
            />
          </div>
          <span class="personal__node-text" [innerHTML]="'PERSONAL.RELOCATE' | translate"></span>
        </div>
      </div>

      <!-- -Div 3: remote + arrow-02 + arrow-03- -->
      <div class="personal__remote-group">
        <div class="personal__remote-node-wrap">
          <div
            class="personal__node personal__node--remote"
            (mouseenter)="remoteHover = true"
            (mouseleave)="remoteHover = false"
          >
            <div class="personal__node-icon-wrap">
              <img
                [src]="
                  remoteHover ? 'assets/remote-icon-hover.svg' : 'assets/remote-icon-default.svg'
                "
                class="personal__node-icon"
                alt="Open to work remote"
              />
            </div>
            <span class="personal__node-text" [innerHTML]="'PERSONAL.REMOTE' | translate"></span>
          </div>
          <img
            src="assets/arrow-curved-red-small.svg"
            class="personal__arrow personal__arrow--2"
            alt=""
            aria-hidden="true"
          />
        </div>
        <img
          src="assets/arrow-curved-red-03.svg"
          class="personal__arrow personal__arrow--3"
          alt=""
          aria-hidden="true"
        />
      </div>
    </div>

    <a href="#contact" appScrollTo="contact" class="personal__cta">{{
      'PERSONAL.CTA' | translate
    }}</a>
  </div>
</section>
